<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<video width="320" height="240" controls>
		 <source src="https://storage.googleapis.com/api-challenger-0705/B%E1%BA%A3i%201-Gi%E1%BB%9Bi%20thi%E1%BB%87u.mp4" type="video/mp4">
		 <source src="movie.ogg" type="video/ogg">
	</video>
</body>
</html>